@page "/especialidades"
@using Domain.Model
@inject HttpClient Http

<PageTitle>Especialidades</PageTitle>

<h3>Especialidades</h3

@if (especialidades == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var especialidad in especialidades)
            {
                <tr>
                    <td>@especialidad.Id</td>
                    <td>@especialidad.Nombre</td>
                    <td>@especialidad.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Especialidad[]? especialidades;

    protected override async Task OnInitializedAsync()
    {
        especialidades = await Http.GetFromJsonAsync<Especialidad[]>("especialidades");
    }

    public class Especialidad
    {
        public int Id { get; set; }
        public required string Nombre { get; set; }
        public string? Descripcion { get; set; }
    }
}
